Information on exogenous processes
==============================

The important piece of information regarding the exogenous proceses for the structural estimation are the probabilities with which an exogenous event occurs in a certain period and for an individual with certain characteristics.

We provide a short description of the format in which the informaiton is to be provided. The example files contain randomly generated values. They are to be replaced by values calculated based on our data.

1. Format:
    * .csv file
    * dimensions: number of periods as primary index (1st column) x level of further characteristics as further indices (e.g., second column in exog_partner_info.csv, where education level is the characteristic)
2. Examples
    * Example .csv Files with random values are displayed below and enclosed in the folder

Currently, replacing the randomly generated probabilities in the .csv files is all information we need. As the model grows, we will need to request similar informatio in a comparable format.

In [2]:
import pandas as pd

Child arrival probability
---------------------------

In [5]:
%%file exog_child_info.csv
age,prob_child_values
17,0.001
18,0.002
19,0.004
20,0.008
21,0.011
22,0.015
23,0.018
24,0.022
25,0.027
26,0.034
27,0.042
28,0.054
29,0.061
30,0.07
31,0.074
32,0.077
33,0.074
34,0.071
35,0.066
36,0.061
37,0.054
38,0.045
39,0.034
40,0.027
41,0.02
42,0.0
43,0.0
44,0.0
45,0.0
46,0.0
47,0.0

Overwriting exog_child_info.csv

In [6]:
# Usage in structural model
exog_child_info_df = pd.read_csv('exog_child_info.csv', index_col = [0])
exog_child_info_df

     prob_child_values
age
17               0.001
18               0.002
19               0.004
20               0.008
21               0.011
22               0.015
23               0.018
24               0.022
25               0.027
26               0.034
27               0.042
28               0.054
29               0.061
30               0.070
31               0.074
32               0.077
33               0.074
34               0.071
35               0.066
36               0.061
37               0.054
38               0.045
39               0.034
40               0.027
41               0.020
42               0.000
43               0.000
44               0.000
45               0.000
46               0.000
47               0.000

Partner arrival probability
------------------------------

In [45]:
%%file exog_partner_info.csv
age,educ_level,prob_partner_values
17,low,0.3853652490589331
17,middle,0.7076154560492149
17,high,0.6675244659324097
18,low,0.3176081831584543
18,middle,0.6727851955426438
18,high,0.4146506449027981
19,low,0.4696911130184434
19,middle,0.3707644116394113
19,high,0.22643062806997416
20,low,0.1144337500673792
20,middle,0.8813906149484256
20,high,0.19585524337240434
21,low,0.3687323231844012
21,middle,0.2977112616958594
21,high,0.6180866489217662
22,low,0.9859091302957036
22,middle,0.07127223340044109
22,high,0.18436572404242768
23,low,0.7151891091640529
23,middle,0.7998375679576052
23,high,0.8075291337327972
24,low,0.053930238311600376
24,middle,0.9304795794362182
24,high,0.09582683030384287
25,low,0.8001635112037291
25,middle,0.3965544598276891
25,high,0.7362493494860999
26,low,0.3301133808256108
26,middle,0.3093525120125067
26,high,0.5871520580790955
27,low,0.5867288760518862
27,middle,0.0069871409262761705
27,high,0.3128937700230884
28,low,0.27047177726001426
28,middle,0.5053611290798501
28,high,0.7285015138806284
29,low,0.8262608549262311
29,middle,0.4088196901958133
29,high,0.1880787092975389
30,low,0.02968529936136155
30,middle,0.4169574698304226
30,high,0.3551900652208624
31,low,0.5263597386623169
31,middle,0.9009233699791822
31,high,0.6564797938595015
32,low,0.61710613402016
32,middle,0.7024197781176562
32,high,0.4353759952215377
33,low,0.7755373031830421
33,middle,0.32901370447694944
33,high,0.22308890259205127
34,low,0.3993723240663256
34,middle,0.2348222639121943
34,high,0.7091784561385692
35,low,0.3655093290495671
35,middle,0.5847588887263862
35,high,0.6236630375071879
36,low,0.6799910808808074
36,middle,0.020844227732454312
36,high,0.9425161021033646
37,low,0.8904143990113632
37,middle,0.6283574398269091
37,high,0.9640254781681428
38,low,0.05138835825542065
38,middle,0.2931191000706511
38,high,0.459039447684623
39,low,0.7770932912439118
39,middle,0.6527177828079037
39,high,0.5885537562920978
40,low,0.10745307869638054
40,middle,0.8805870356255451
40,high,0.9304384334467072
41,low,0.5020889702224393
41,middle,0.2648542409472007
41,high,0.15603726286332842
42,low,0.5670618234484848
42,middle,0.27457697803697123
42,high,0.06955346128438589
43,low,0.8228786056475067
43,middle,0.4376471199511873
43,high,0.7675175633867735
44,low,0.9570981584121012
44,middle,0.2759529242835742
44,high,0.761056150538448
45,low,0.11129429677248824
45,middle,0.41756158931189336
45,high,0.008037135492212187
46,low,0.8073896922793825
46,middle,0.487118228815557
46,high,0.4800901761926198
47,low,0.8930622635071982
47,middle,0.04269272291127635
47,high,0.7716046247638251
48,low,0.9588493499882234
48,middle,0.025777412797038383
48,high,0.6922955934643271
49,low,0.12917948941952473
49,middle,0.7283545951323114
49,high,0.2396550180588427
50,low,0.18216121180646927
50,middle,0.4940873054799058
50,high,0.2460807175100863
51,low,0.9975065625891258
51,middle,0.395515794288009
51,high,0.009512020582946423
52,low,0.5079836461818221
52,middle,0.3894589287208858
52,high,0.8465976726071086
53,low,0.8065927797221341
53,middle,0.6127301317412921
53,high,0.7726091195224069
54,low,0.6456074872671934
54,middle,0.4906036193608722
54,high,0.667782610553852
55,low,0.20975552364447791
55,middle,0.4679503448077841
55,high,0.7172639609658825
56,low,0.3669074824667495
56,middle,0.4463926243873978
56,high,0.03853135675397768

Overwriting exog_partner_info.csv

In [46]:
exog_partner_info_df = pd.read_csv("exog_partner_info.csv", index_col=[0,1])
exog_partner_info_df

                prob_partner_values
age educ_level
17  low                    0.385365
    middle                 0.707615
    high                   0.667524
18  low                    0.317608
    middle                 0.672785
...                             ...
55  middle                 0.467950
    high                   0.717264
56  low                    0.366907
    middle                 0.446393
    high                   0.038531

[120 rows x 1 columns]